<section>
    <ul *ngIf="shoppingItemsOld.length > 0" class="core-list small">

      <li *ngFor="let item of shoppingItemsOld"
                     class="core-list-item">
        <mat-checkbox (change)="toggleItemSelected(item)"
                      [checked]="item.selected"
                      color="accent"
                      class="core-list-checkbox">
          <span (click)="restoreItem(item)"
                [class.bought]="item.isBought"
                class="text">
            {{ item.title }}
          </span>
        </mat-checkbox>

        <button
          (click)="removeOldItem(item)"
          mat-icon-button
          color="warn"
          class="ul-delete-container">
          <mat-icon class="ul-delete">{{ buttonIcons.delete }}</mat-icon>
        </button>
      </li>

    </ul>
</section>
