.main {
  margin-top: 0.5em;
}

.card {
  background-image: url("../../../../assets/images/Old-Shopping-List-Back1.jpg");
}

.list-item {
  position: relative;
  top: 0.3em;
  text-decoration: line-through;
  color: #898989;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 0;
}

.item-title {
  padding-left: 0.8em;
  text-decoration: line-through;
  color: #898989;
}

.delete mat-icon {
  font-size: 1.2em;
}

