<section>

  <div class="color-bar">
    <span class="small grey mt-1">Category: </span>
    <div class="color-bar-content">
      <div *ngFor="let ci of headerShoppingItems"
           [style.background]="ci.color"
           (click)="onHeaderItemClicked(ci)"
           [class.selected]="ci === activeShoppingHeaderItem"
           class="square">
      </div>
    </div>
  </div>

  <form>
    <mat-form-field class="form-field">
      <input #itemTitle
             name="message"
             maxlength="100"
             matInput type="text"
             [placeholder]="coreLabels.addItem"
             [(ngModel)]="newShoppingItem.title"
             (keyup.enter)="addShoppingItem()">
      <mat-hint align="end">{{ itemTitle.value.length }}/{{ itemTitle.maxLength }}</mat-hint>
      <mat-hint align="start">{{ activeShoppingHeaderItem.title }}</mat-hint>
      <button [disabled]="itemTitle.value.length === 0"
              [class.grey]="itemTitle.value.length === 0"
              (click)="itemTitle.value = ''"
              color="warn"
              mat-button matSuffix mat-icon-button aria-label="Clear">
        <mat-icon>{{ buttonIcons.clear }}</mat-icon>
      </button>
    </mat-form-field>

    <button [disabled]="itemTitle.value.length === 0"
            (click)="addShoppingItem()"
            mat-icon-button
            color="primary"
            aria-label="Add"
            class="core-button">
      <mat-icon>{{ buttonIcons.addToCart }}</mat-icon>
    </button>
  </form>


</section>

