.color-bar {
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding-right: 0.5em;
}

.color-bar-content {
  display: inline-block;
  position: relative;
  top: 0.4em;
}

.push-to-fridge-button {
  display: inline-block;
  position: relative;
  top: -0.35em;
}

.colors-container {
  display: inline-block;
}

.square {
  display: inline-block;
  //border: solid 1px #424242;
  border-radius: 3px;
  height: 1em;
  width: 1em;
  margin-left: 0.5em;
  box-shadow:
  0 2px 1px -1px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14),
  0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.square.selected {
  border: none;
  height: 1.4em;
  width: 1.4em;
  box-shadow:
  0px 3px 5px -1px rgba(0, 0, 0, 0.2),
  0px 6px 10px 0px rgba(0, 0, 0, 0.14),
  0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.core-button {
  margin-left: 0.8em;
  outline: none;
}

