<section>

  <div class="color-bar">
    <div class="color-bar-content">
      <button mat-icon-button
              [disabled]="!isSelectedInOld"
              color="accent"
              class="push-to-fridge-button">
        <mat-icon (click)="pushToFridge()">{{ buttonIcons.toFridge }}</mat-icon>
      </button>

      <div class="colors-container">
        <div *ngFor="let ci of headerShoppingItems"
             [style.background]="ci.color"
             (click)="onHeaderItemClicked(ci)"
             [class.selected]="ci === activeShoppingHeaderItem"
             class="square">
        </div>
      </div>
    </div>
  </div>

  <mat-card>
    <form>
      <mat-form-field class="form-field">
        <input #itemTitle
               name="message"
               maxlength="100"
               matInput type="text"
               [placeholder]="shoppingLabels.addItem"
               [(ngModel)]="newShoppingItem.title"
               (keyup.enter)="addShoppingItem()">
        <mat-hint align="end">{{ itemTitle.value.length }}/{{ itemTitle.maxLength }}</mat-hint>
        <mat-hint align="start">{{ activeShoppingHeaderItem.title }}</mat-hint>
        <button [disabled]="itemTitle.value.length === 0"
                [class.grey]="itemTitle.value.length === 0"
                (click)="itemTitle.value = ''"
                color="warn"
                mat-button matSuffix mat-icon-button aria-label="Clear">
          <mat-icon>{{ buttonIcons.clear }}</mat-icon></button>
      </mat-form-field>

      <button [disabled]="itemTitle.value.length === 0"
              mat-mini-fab
              color="primary"
              aria-label="Add"
              (click)="addShoppingItem()"
              class="core-button">
        <mat-icon>{{ buttonIcons.addToCart }}</mat-icon>
      </button>

    </form>
  </mat-card>

</section>

