.header-cover {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #303030;
  z-index: 0;
  width: 100%;
  height: 9.9em;
  //border-bottom: solid #bb145a 2px;
}
.colors-container {
  margin-left: 0.2em;
  position: relative;
  top: 0.4em;
  display: inline-block;
}

.square {
  display: inline-block;
  //border: solid 1px #424242;
  border-radius: 3px;
  height: 1em;
  width: 1em;
  margin-left: 0.5em;
  box-shadow:
    0 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.square.selected {
  border: none;
  height: 1.4em;
  width: 1.4em;
  box-shadow:
    0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.core-button {
  margin-right: 0.8em;
  outline: none;
}

.push-to-fridge-button {
  outline: none;
}

.color-bar {
  background-color: #303030;
  padding-left: 1em;
}
