.nav-button-panel {
  margin-top: 10em;
  width: 3em;
  text-align: center;
}

.nav-button {
  position: relative;
  left: -0.7em;
  padding-top: 2em;
}

.active {
  outline: none;
  color: #bb145a;
  //background-color: #878787;
  //text-shadow: 0 0 15px rgba(255, 226, 231, 0.95);
}

