.item {
  position: relative;
  left: -0.75em;
  padding-top: 2em;
}

.active nb-icon {
  color: #dbe7fd;
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}

