.flex-container{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0 0 0;
}

.day-forecast-item {
  display: flex;
  flex-flow: row;
  flex-grow: 1;
  padding: 0.5em 0 0.5em 0;
  border-bottom: solid #424242 1px;
}

.forecast-text-container {
  //flex-grow: 1;
  //text-align: left;
  //position: relative;
  //top: -0.2em;
  //display: inline-block;
  //padding: 0 0 0.4em 1em;
}

.temperature-container {
  display: inline-block;
}

.icon-container {
  display: inline-block;
  width: 4em;
  height: 3em;
}

.up-arrow-icon-container {
  display: inline-block;
  width: 1.3em;
}

.down-arrow-icon-container {
  display: inline-block;
  width: 1.1em;
}

.arrow-icon {
  position: relative;
  top: 0.2em;
  font-size: medium;
}

#icon {
  color: #b41059;
  font-size: 2.6em;
}

