<section *ngIf="forecast && forecast.daily && forecast.daily.data.length">

  <mat-card>
    <mat-card-content *ngFor="let day of forecast.daily.data  | slice:0:7"
                      class="day-forecast-content">

      <div class="icon-container">
        <i id="icon" [class]="getWiIcon(day.icon)"></i>
      </div>

      <div class="forecast-text-container">
      <span>
        {{ day.time * 1000 | date: 'E' }},
        {{ day.time * 1000 | date: 'd MMM' }}
      </span>

        <div class="arrow-icon-container">
          <mat-icon class="arrow-icon primary-color">arrow_upward</mat-icon>
        </div>
        <strong>
          <span class="primary-color">{{ day.temperatureMax.toFixed(0) + '°' }}</span>
        </strong>

        <div class="arrow-icon-container">
          <mat-icon class="arrow-icon primary-color">arrow_downwards</mat-icon>
        </div>
        <strong>
          <span class="primary-color">{{ day.temperatureMin.toFixed(0) + '°' }}</span>
        </strong>
        <br>

        <span class="small">{{ day.summary }}</span>
      </div>

      <mat-divider [inset]="true"></mat-divider>

    </mat-card-content>
  </mat-card>

</section>

