.card-field {
  overflow-y: scroll;
  flex-grow: 1;
}

.card-container{
  display: flex;
  justify-content: center;
  padding: 0.5em 0 0 0;
}

.day-forecast-item {
  position: relative;
  padding: 0.8em 0 0 0;
}

.forecast-text-container {
  width: calc(100% - 4em);
  text-align: left;
  position: relative;
  top: -0.2em;
  display: inline-block;
  padding: 0 0 0.4em 1em;
}

.temperature-container {
  display: inline-block;
}

.icon-container {
  display: inline-block;
  width: 4em;
  height: 3em;
}

.up-arrow-icon-container {
  display: inline-block;
  width: 1.3em;
}

.down-arrow-icon-container {
  display: inline-block;
  width: 1.1em;
}

.arrow-icon {
  position: relative;
  top: 0.2em;
  font-size: medium;
}

#icon {
  color: #b41059;
  font-size: 2.6em;
}

