<section>

  <app-weather-tabs></app-weather-tabs>

  <mat-card *ngIf="panelOpened">

    <div class="button-group">
      <div>
        <a
          mat-stroked-button
          color="accent"
          href="https://www.seabreeze.com.au/weather/wind-forecast/qld-gold-coast"
          target="_blank"
          class="link-button">
          Seabreeze
        </a>
        <a
          mat-stroked-button
          color="accent"
          href="http://www.bom.gov.au/products/IDR663.loop.shtml"
          target="_blank"
          class="ml-2 link-button">
          Radar
        </a>
      </div>

      <mat-icon
        (click)="togglePanelOpened()"
        class="expand-less grey">
        {{ buttonIcons.expandMore }}
      </mat-icon>

    </div>

    <div class="flex-container">
      <div class="inputs">
        <mat-form-field class="form-field">
          <mat-label>Choose Location:</mat-label>
          <mat-placeholder>{{activeLocation.title}}</mat-placeholder>
          <mat-select [(value)]="activeLocation" class="my-select">
            <mat-option
              *ngFor="let location of locations"
              [value]="location"
              (click)="cityClicked(location)">
              {{ location.title }}
            </mat-option>
          </mat-select>
          <mat-hint *ngIf="latitude">Lat: {{ latitude }}</mat-hint>
          <mat-hint *ngIf="longitude" align="end">Long: {{ longitude }}</mat-hint>
        </mat-form-field>
      </div>
    </div>
  </mat-card>

  <mat-card *ngIf="!panelOpened" class="mini">
    <div class="mini-flex-container">
      <span class="mini-text grey">Location:</span>
      <span class="mini-text ml-2">{{ activeLocation.title }}</span>
    </div>
    <mat-icon
      (click)="togglePanelOpened()"
      class="expand-more grey">
      {{ buttonIcons.expandLess }}
    </mat-icon>
  </mat-card>

</section>


