<section class="main">

  <div class="title bottom-border">
    <h2>
      Weather Forecast:
    </h2>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <div class="header">
    <app-weather-header (locationSelected)="locationUpdate($event)"
                        [activeLocation]="activeLocation"
                        [currentLocationLatitude]="currentLocationLatitude"
                        [currentLocationLongitude]="currentLocationLongitude">
    </app-weather-header>
  </div>

</section>
