<section class="main">

  <app-forecast-header class="header"
                       (locationSelected)="locationUpdate($event)"
                       [activeLocation]="activeLocation"
                       [currentLocationLatitude]="currentLocationLatitude"
                       [currentLocationLongitude]="currentLocationLongitude">
  </app-forecast-header>

  <app-weather-tabs class="tabs"></app-weather-tabs>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

</section>
