.logo-container {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 3em;
  height: 5em;
  background-color: #420926;
}

.logo {
  padding: 15% 0;
  color: lightgrey;
  font-size: x-small;
}
