.logo-container {
  text-align: center;
  position: fixed;
  top: 0;
  right: 0.5em;
  width: 3.75em;
  height: 4em;
  background-color: #b41059;
}

.logo {
  padding: 40% 0;
  color: lightgrey;
  background-color: #f05649;
}
