<nb-layout-header fixed id="todoListCard">
  <app-logo></app-logo>

    <div class="header-container">
      <nb-form-field>
        <button
          [disabled]="todoTitle.value.length === 0"
          (click)="addTodo(newTodo)"
          nbButton shape="round" status="primary"
          aria-label="Add Todo to List"
          class="add-button">
          <nb-icon [icon]="buttonIcons.add"></nb-icon>
        </button>

        <input
          #todoTitle
          [(ngModel)]="newTodo.title"
          (keyup.enter)="addTodo(newTodo)"
          nbInput fullWidth fieldSize="small"
          placeholder="Add task..."
          maxlength="22"
          class="input-field">
        <div nbSuffix class="length-counter">{{ todoTitle.value.length }}/{{ todoTitle.maxLength }}</div>
      </nb-form-field>
    </div>
</nb-layout-header>

