<section class="main">

  <div class="header-cover"></div>

  <mat-card>

      <form class="button-panel">
        <button [disabled]="todoTitle.value.length === 0"
                (click)="addTodo(newTodo)"
                mat-mini-fab
                color="primary"
                class="add-button">
          <mat-icon>{{ buttonIcons.add }}</mat-icon>
        </button>

        <mat-form-field>
          <input #todoTitle
                 name="todoTitle"
                 [(ngModel)]="newTodo.title"
                 (keyup.enter)="addTodo(newTodo)"
                 [placeholder]="todoLabels.addTask"
                 maxlength="22" matInput class="text-field">
            <mat-hint *ngIf="todoTitle.value.length > 0" align="end">
              {{todoTitle.value.length}}/{{todoTitle.maxLength}}
            </mat-hint>
            <mat-hint align="start">
              {{todos.length > 0 ?
              (incomplete > 0 ? incomplete + todoLabels.leftToGo : todoLabels.allDone) : todoLabels.toDo}}
            </mat-hint>
            <button *ngIf="todoTitle.value.length > 0"
                    (click)="todoTitle.value = ''"
                    color="warn"
                    mat-button matSuffix mat-icon-button aria-label="Clear">
              <mat-icon>{{ buttonIcons.clear }}</mat-icon></button>
        </mat-form-field>
      </form>

    </mat-card>
</section>


