.input-field {
  position: relative;
  left: 3em;
  width: calc(100% - 2.5em) !important;
}

.add-button {
  position: fixed;
  left: 6.2em;
  top: 2.1em;
}

.length-counter {
  position: relative;
  left: 0.4em;
}

