.header-cover {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #303030;
  z-index: 0;
  width: 100%;
  height: 7.4em;
  //border-bottom: solid #bb145a 2px;
}

.add-button {
  margin-right: 1em;
  outline: none;
}
