.main {
  position: relative;
  top: 10.5em;
}
.header {
  border-bottom: solid #b41059 2px;
}

.card-body {
  margin: 1em;
}

.primary-color {
  color: #b41059
}


//.test {
//  margin-top: 8em;
//}

//.header{
//  position: relative;
//  left: -1em;
//  text-align: left;
//}

//.content {
//  text-align: left;
//  display: block;
//  padding-top: 1em;
//}

//.weather-title {
//  color: #6735b6;
//}

#ic {
  margin-right: 0.5em;
  color: #b41059;
  font-size: 3.8em;
}
