.test {
  margin-top: 8em;
}

.header{
  position: relative;
  left: -1em;
  text-align: left;
}

.content {
  text-align: left;
  display: block;
  margin-left: 1.5em;
  padding-top: 1em;
}

.weather-title {
  color: #6735b6;
}

#ic {
  text-align: center;
  position: relative;
  top: 0.1em;
  color: #6735b6;
  font-size: 2.5em;
  height: 1.3em;
}
