<section *ngIf="forecast">

    <mat-card-header class="card-top">
      <i mat-card-avatar
         [class]="getWiIcon(forecast.daily.data[0].icon)"
         id="ic">
      </i>
      <mat-card-subtitle>
        {{ forecast.currently.time * 1000 | date: 'EEEE' }},
        {{ forecast.currently.time * 1000 | date: 'd MMM' }}
      </mat-card-subtitle>
      <mat-card-title class="small">
        <strong>
          <span class="primary-color">{{ forecast.currently.temperature.toFixed(0) + '°' }}</span>
        </strong>
        <span class="small"> Real feel: </span>
        <span>{{ forecast.currently.apparentTemperature.toFixed(0) + '°' }}</span>

      </mat-card-title>
    </mat-card-header>
  <mat-divider></mat-divider>

    <div class="card-body">

      <mat-card-content>

        <div class="general-info">
          <div>
            <div>
              <span>{{ forecast.daily.data[0].summary }}</span>
              <br>
              <span>{{ weatherCard.hottest }}</span>
              <strong><span class="hot-color">{{ forecast.daily.data[0].temperatureMax
                .toFixed(1) + weatherCard.degree}}</span></strong>
              <br>
              <span>{{ weatherCard.coldest }}</span>
              <strong><span class="cold-color">{{ forecast.daily.data[1].temperatureMin
                .toFixed(1) + weatherCard.degree}}</span></strong>
            </div>

            <div class="titles">
              <span class="primary-color"> Details: </span>
            </div>
            <mat-divider class="mb-2"></mat-divider>

            <span>{{ weatherCard.humidity + (forecast.daily.data[0].humidity * 100)
              .toFixed(0) + weatherCard.percent}}</span>
            <br>
            <span>{{ weatherCard.chanceOfRain + (forecast.daily.data[0].precipProbability * 100)
              .toFixed(2) + weatherCard.percent}}</span>
            <br>
            <span>{{ weatherCard.rainIntensity + forecast.daily.data[0].precipIntensity
              .toFixed(3) }}</span>
            <br>
            <span>
              {{ weatherCard.windSpeed + forecast.daily.data[0].windSpeed + weatherCard.metersPerSec}}</span>
            <br>
            <span>{{ weatherCard.uv + forecast.daily.data[0].uvIndex}}</span>

            <div class="titles">
              <span class="primary-color"> Hourly: </span>
            </div>
            <mat-divider class="mb-2"></mat-divider>
          </div>
        </div>

        <div class="hourly-table">
          <div *ngFor="let hourTemp of forecast.hourly.data.slice(0, 12), even as even">
            <div *ngIf="even" class="hourly-item">
              <div class="small grey">{{hourTemp.time * 1000 | date: 'h a'}}</div>
              <div>{{hourTemp.temperature.toFixed(0) + weatherCard.degree}}</div>
            </div>
          </div>
        </div>

      </mat-card-content>
    </div>

</section>
