.main {
  position: fixed;
  top: 6.9em;
  width: calc(100% - 4.25em);
}

//.navbar {
//  border: solid #d5d5d5 1px;
//
//  width: calc(100% - 3.6em);
//  position: fixed;
//  left: 3.5em;
//  margin-top: 5em;
//}

//.data-area.active {
//  display: inline-block;
//}

//.nav-link {
//  color: #6735b6;
//}

//.active {
//  color: gold;
//}
