<section class="section h-100">

    <div class="nav-container h-100 d-flex flex-column align-items-center justify-content-between">
      <div class="pt-4 login d-flex flex-column align-items-center flex-wrap">

        <div *ngIf="user$ | async as user; else iconButton"
             [matMenuTriggerFor]="logOutMenu">
          <img [src]="userImgUrl" class="avatar" alt="Err">
        </div>

        <ng-template #iconButton>
          <button [matMenuTriggerFor]="logOutMenu"
                  disableRipple
                  mat-button
                  class="grey avatar">
            <mat-icon>{{ loginIcon }}</mat-icon>
          </button>
        </ng-template>

        <mat-menu #logOutMenu="matMenu">
          <button *ngIf="user$ | async as user; else login"
                  (click)="logOut()"
                  mat-menu-item class="hot-color">
            Log out
          </button>

          <ng-template #login>
            <button [routerLink]="[loginPath]" mat-menu-item >Log in</button>
          </ng-template>

        </mat-menu>
      </div>

      <div class="nav-panel pb-4">
        <div *ngFor="let button of navItems"
             class="pt-4">
          <button *ngIf="appUser"
                  [routerLink]="[button.link]"
                  disableRipple
                  routerLinkActive="active"
                  color="accent"
                  mat-button>
            <mat-icon>{{ button.icon }}</mat-icon>
          </button>
        </div>
      </div>

    </div>

</section>

<!--<ng-container *ngIf="user$ | async"></ng-container>-->





