html, body, app-root, .app-frame {
  overflow: hidden;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  color: #e0e0e0;
  min-width: 310px;
}

.area {
  height: 100%;
}

.side-nav {
  width: 3.2em;
  //border-right: none;
}



