<section>

  <div class="color-bar">
    <span class="small grey mt-1 mb-1">Category: </span>
    <div>
      <div *ngFor="let color of headerFridgeItems"
           (click)="onHeaderItemClicked(color)"
           [style.background]="color.color"
           [class.selected]="color.color === activeFridgeHeaderItem.color"
           class="square">
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>

  <form>
    <mat-form-field class="form-field">
      <input #fridgeItemTitle
             appInputAutofocus
             name="message"
             maxlength="99"
             matInput type="text"
             [(ngModel)]="newFridgeItem.title"
             (keyup.enter)="addFridgeItem()">
      <mat-hint align="end">{{ fridgeItemTitle.value.length }}/{{ fridgeItemTitle.maxLength }}</mat-hint>
      <mat-hint align="start">Selected Category: {{ activeFridgeHeaderItem.title }}</mat-hint>
      <button [disabled]="fridgeItemTitle.value.length === 0"
              [class.grey]="fridgeItemTitle.value.length === 0"
              (click)="fridgeItemTitle.value = ''"
              color="warn"
              mat-button matSuffix mat-icon-button aria-label="Clear">
        <mat-icon>{{ buttonIcons.clear }}</mat-icon>
      </button>
    </mat-form-field>

    <button [disabled]="fridgeItemTitle.value.length === 0"
            (click)="addFridgeItem()"
            mat-icon-button
            color="primary"
            aria-label="Add"
            class="core-button">
      <mat-icon>{{ this.itemInEdit ? buttonIcons.done : buttonIcons.addToList }}</mat-icon>
    </button>

  </form>

</section>
