<section class="h-100 w-100 d-flex flex-column justify-content-around">

  <app-busy *ngIf="isBusy | async"></app-busy>

  <div class="text-center">
    <h1>Welcome to YHelper!</h1>
    <p class="py-3">Please log in...</p>

  </div>

  <div class="text-center w-100">

    <button *ngIf="!(userObs | async) as user; else out"
            (click)="login()"
            mat-raised-button
            color="primary"
            class="m-2 w-75">
      Login with Google
    </button>

  </div>

  <ng-template #out>
    <button (click)="logOut()"
            mat-raised-button
            color="warn"
            class="m-2 w-75">
        Log out
    </button>
  </ng-template>

</section>

