<section class="h-100 w-100 d-flex flex-column justify-content-between">

  <div class="text-center mt-5">
    <h1>Welcome to YHelper!</h1>
    <p *ngIf="isBusy else standard" class="py-3">Logging in...</p>
    <ng-template #standard>
      <p class="py-3">Please log in...</p>
    </ng-template>

  </div>

  <app-busy *ngIf="isBusy"></app-busy>

  <div class="text-center w-100 mb-5">

    <button *ngIf="!(userObs | async) as user; else out"
            (click)="login()"
            mat-raised-button
            color="primary"
            class="m-2 w-75">
      Login with Google
    </button>

  </div>

  <ng-template #out>
    <button (click)="logOut()"
            mat-raised-button
            color="warn"
            class="m-2 w-75">
        Log out
    </button>
  </ng-template>

</section>

