<section class="main">

  <mat-card>
    <ul *ngIf="shoppingItems.length > 0" class="core-list content">

      <li *ngFor="let item of shoppingItems"
                     [style.border-left]="'0.2em solid'"
                     [style.border-left-color]="item.color"
                     class="core-list-item">

        <mat-checkbox (click)="toggleShoppingItemBought(item)"
                [class.bought]="item.bought"
                mat-button
                class="core-list-checkbox">
          {{ item.title }}
        </mat-checkbox>

        <button (click)="removeItem(item)"
                mat-icon-button
                color="warn" class="ul-delete-container">
          <mat-icon class="ul-delete">{{ buttonIcons.delete }}</mat-icon>
        </button>
      </li>

    </ul>
  </mat-card>
</section>


