<section class="main">

  <mat-card>
    <mat-action-list *ngIf="shoppingItems.length > 0" class="shoppingItems-list">

      <mat-list-item *ngFor="let item of shoppingItems; last as last;"
                     [style.border-left]="'0.2em solid'"
                     [style.border-left-color]="item.color"
                     class="item-list">

        <button (click)="toggleShoppingItemBought(item)"
                [class.bought]="item.bought" class="list-item col-11">
          {{ item.title }}
        </button>

        <button
          (click)="removeItem(item)"
          mat-icon-button
          color="warn"
          class="delete col-1">
          <mat-icon class="delete-icon">{{ buttonIcons.delete }}</mat-icon>
        </button>

        <mat-divider *ngIf="!last" [inset]="true"></mat-divider>

      </mat-list-item>

    </mat-action-list>
  </mat-card>
</section>


