.field {
  padding-top: 1.5em;
}

.text-in-icon {
  text-decoration: none;
  color: white;
}

.title {
  padding-top: 0.3em;
}

.button-group {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

.shortcut-card {
  flex-grow: 0;
  flex-shrink: 0;
  text-wrap: normal;
  word-break: break-word;
  display: inline-block;
  margin: 0.5em;
  width: 8em;
  height: 7em;
}

.button{
  position: relative;
  left: 1.4em;
}

.close-button {
  position: relative;
  bottom: 1em;
  left: 1em;
  transform: scale(0.7);
  color: #eb4334;
}
