.header-container {
  //border: solid blue 1px;
  //width: calc(100% + 4.3em);
}

.input-field {

}

.coordinates-container {
  //position: fixed;
  //top: 3.2em;
  text-align: left;
}
.coordinates {
  font-size: 0.8em;
  color: cornflowerblue;
}

.coordinates.right {
  margin-left: 4em;
}
