<section>

  <app-weather-tabs></app-weather-tabs>

  <mat-card>

    <a mat-stroked-button
       href="https://www.seabreeze.com.au/weather/wind-forecast/qld-gold-coast"
       target="_blank"
       class="seebreeze"
       color="accent">
      SB</a>

    <mat-form-field>
      <mat-label>Forecast for:</mat-label>
      <mat-select [value]="0" class="my-select">
        <mat-option
          *ngFor="let location of locations index as i"
          [value]="i"
          (click)="cityClicked(location)">
          {{ location.title }}
        </mat-option>
      </mat-select>
      <mat-hint>Lat: {{ latitude }}</mat-hint>
      <mat-hint align="end">Long: {{ longitude }}</mat-hint>
    </mat-form-field>
  </mat-card>

</section>


