<p>weather works</p>
<!--<nb-layout-header fixed>-->
<!--  <app-logo></app-logo>-->

<!--  <div class="header">-->

<!--    <div class="header-container">-->

<!--      <nb-select [placeholder]="activeLocation"-->
<!--                 size="small"-->
<!--                 fullWidth-->
<!--      class="input-field">-->
<!--        <nb-option >1</nb-option>-->
<!--        <nb-option >2</nb-option>-->
<!--        <nb-option >3</nb-option>-->
<!--        <nb-option >4</nb-option>-->
<!--      </nb-select>-->

<!--      <div class="coordinates-container">-->

<!--        <span class="coordinates">-->
<!--        Lat/Long: {{ latitude }} /-->
<!--        </span>-->

<!--        <span class="coordinates">-->
<!--        {{ longitude }}-->
<!--        </span>-->

<!--      </div>-->

<!--    </div>-->
<!--  </div>-->

<!--</nb-layout-header>-->

<!--      <button-->
<!--        mat-mini-fab-->
<!--        color="primary"-->
<!--        [matMenuTriggerFor]="belowMenu"-->
<!--        class="location-button">-->
<!--        <i class="material-icons">-->
<!--          expand_more-->
<!--        </i>-->
<!--      </button>-->

<!--      <div class="location-container">-->
<!--        <span-->
<!--          class="location-name">-->
<!--          <strong>{{ activeLocation }}</strong>-->
<!--          <br>-->
<!--          <span class="coordinates">-->
<!--            {{ latitude }}, {{ longitude }}-->
<!--          </span>-->
<!--        </span>-->
<!--      </div>-->

<!--      <mat-menu-->
<!--        #belowMenu="matMenu"-->
<!--        xPosition="before">-->
<!--        <button-->
<!--          mat-menu-item-->
<!--          *ngFor="let location of locationNames()"-->
<!--          (click)="cityClicked(location)"-->
<!--          class="drop-down-item">-->
<!--          {{ location }}-->
<!--        </button>-->
<!--      </mat-menu>-->

