
.main-button {
  z-index: 90;
  position: fixed;
  bottom: 1em;
  right: 4.5em;
  outline: none;
}

.secondary-button {
  z-index: 90;
  position: fixed;
  bottom: 1.5em;
  right: 10.5em;
  outline: none;
}

.third-button {
  z-index: 90;
  position: fixed;
  bottom: 1.5em;
  right: 15.5em;
  outline: none;
}

.title {
  padding: 1.2em 0 0 0;
}

.info {
  display: flex;
  padding: 0 1em 6em 1em;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.menu-item {
}
