.main {
  margin-top: 0.5em;
}

.list {
  padding: 1em 0 0 0;
  background-color: #3b3b3b;
  border-radius: 4px;
  box-shadow:
    0 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.todo-item {
  padding: 0;
}

.delete mat-icon {
  font-size: 1.2em;
}

.completed {
  text-decoration: line-through;
  color: #8c8c8c;
}
