
.todoList {
  margin-top: 5em;
}

.aligned-with-text {
  position: relative;
  bottom: 0.6em;
  left: 1em;
  float: right;
  font-size: 1em;
  cursor: default;
}

.completed {
  text-decoration: line-through;
  color: #dcffff;
}
