<section class="main">
    <ul class="core-list content">
      <li *ngFor="let todo of todos;" class="core-list-item">

        <mat-checkbox [checked]="todo.complete"
                      (change)="toggleTodoComplete(todo)"
                      color="accent"
                      [class.completed]="todo.complete"
                      class="core-list-checkbox">
          <span class="text">{{ todo.title }}</span>
        </mat-checkbox>

        <button (click)="removeTodo(todo)"
                mat-icon-button
                color="warn" class="ul-delete-container">
          <mat-icon class="ul-delete">{{ buttonIcons.clear }}</mat-icon>
        </button>
      </li>
    </ul>
</section>
