.float-button {
  position: fixed;
  right: 5em;
  bottom: 8em;
  outline: none;
}

.backdrop {
  background-color: rgb(48, 48, 48, 0.5);
  height: 5.5em;
}

.container {
  outline: none;
  width: 100%;
  display: flex;
  flex-flow: row-reverse nowrap;
  align-items: center;

  .search-button {
    position: fixed;
    right: 4.5em;
    bottom: 1em;
  }

  .search-form {
    position: fixed;
    right: 9.5em;
    bottom: 1em;
    width: calc(100% - 11.5em);
  }

  .search-input {
    padding-right: 4em !important;
  }
}




